@{
    Layout = null;
}
@model ITJobSeeker.Web.ViewModels.FormEditJobViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Job</title>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />

    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">
    <link rel="stylesheet" href="~/assets/vendor/summernote/summernote.css" />
    <link rel="stylesheet" href="~/assets/vendor/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="~/assets/vendor/codemirror/theme/monokai.css" />
    <!-- Head Libs -->
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/assets/images/logo.png" height="35" alt="Porto Admin" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="~/assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="~/assets/images/!logged-user.jpg" />
                        </figure>
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                            <span class="name">Recruiter</span>
                            <span class="role"></span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/Recruiter/ProfilePage"><i class="fa fa-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" onclick="logout()"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li>
                                    <a href="index.html">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-columns" aria-hidden="true"></i>
                                        <span>Job Management</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="@Url.Action("JobRecruiterGridView", "Recruiter")">
                                                Jobs GridView
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("CreateJob", "Recruiter")">
                                                Create Job
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>

                        <hr class="separator" />

                    </div>

                    <script>
                        // Preserve Scroll Position
                        if (typeof localStorage !== 'undefined') {
                            if (localStorage.getItem('sidebar-left-position') !== null) {
                                var initialPosition = localStorage.getItem('sidebar-left-position'),
                                    sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                                sidebarLeft.scrollTop = initialPosition;
                            }
                        }
                    </script>

                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>Job Management</h2>

                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="index.html">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                        </ol>

                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>

                <!-- start: page -->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                </div>

                                <h2 class="panel-title">Edit Job Form</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered">
                                    <div class="validation-message" id="message-summary">

                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputDefault">Job Title</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="txtName" value="@Model.Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputDefault">Salary</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="txtSalary" value="@Model.Salary">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">First Technology Required</label>
                                        <div class="col-md-6">
                                            <select data-plugin-selectTwo class="form-control populate" id="ddlFirstTechStackChosen">
                                                @foreach (var keyword in Model.TechStackDropDownList)
                                                {
                                                    if (keyword.Value == Model.FirstTechStack)
                                                    {
                                                        <option value="@keyword.Value" selected>@keyword.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@keyword.Value">@keyword.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Second Technology Required</label>
                                        <div class="col-md-6">
                                            <select data-plugin-selectTwo class="form-control populate" id="ddlSecondTechStackChosen">
                                                @foreach (var keyword in Model.TechStackDropDownList)
                                                {
                                                    if (keyword.Value == Model.SecondTechStack)
                                                    {
                                                        <option value="@keyword.Value" selected>@keyword.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@keyword.Value">@keyword.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Third Technology Required</label>
                                        <div class="col-md-6">
                                            <select data-plugin-selectTwo class="form-control populate" id="ddlThirdTechStackChosen">
                                                @foreach (var keyword in Model.TechStackDropDownList)
                                                {
                                                    if (keyword.Value == Model.ThirdTechStack)
                                                    {
                                                        <option value="@keyword.Value" selected>@keyword.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@keyword.Value">@keyword.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Description</label>
                                        <div class="col-md-9">
                                            <div id="txtDescription">@Html.Raw(Model.Description)</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Requirement</label>
                                        <div class="col-md-9">
                                            <div id="txtRequirement">@Html.Raw(Model.Requirement)</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Benefits</label>
                                        <div class="col-md-9">
                                            <div id="txtBenefit">@Html.Raw(Model.Benefits)</div>
                                        </div>
                                    </div>

                                    <br />
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <button class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" onclick="EditJob()" type="button">Submit</button>
                                                <button type="reset" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">Cancel</button>
                                            </div>
                                        </div>
                                    </footer>
                                </form>
                            </div>
                        </section>


                    </div>
                </div>

                <!-- end: page -->
            </section>
        </div>

    </section>
    <div class="modal fade" id="modalMessage" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p id="message-body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Back()">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
<script src="~/assets/vendor/magnific-popup/jquery.magnific-popup.js"></script>
<script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<!-- Specific Page Vendor -->
<script src="~/assets/vendor/select2/js/select2.js"></script>
<script src="~/assets/vendor/summernote/summernote.js"></script>
<script src="~/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="~/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="~/assets/javascripts/theme.js"></script>
<!-- Theme Custom -->
<script src="~/assets/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/assets/javascripts/theme.init.js"></script>

<!-- Examples -->
<script src="~/assets/javascripts/tables/examples.datatables.editable.js"></script>
<script src="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<script>
    $(function () {
        $('#txtDescription').summernote({
            height: 180
        });
        $('#txtRequirement').summernote({
            height: 180
        });
        $('#txtBenefit').summernote({
            height: 180
        });
    })
    function Back() {
        window.location.href = '@Url.Action("JobRecruiterGridView", "Recruiter")';
    }
    function EditJob() {
        var job = {
            ID: '@Model.ID',
            Name: $('#txtName').val(),
            Description: $('#txtDescription').summernote('code'),
            Requirement: $('#txtRequirement').summernote('code'),
            Benefits: $('#txtBenefit').summernote('code'),
            Salary: $('#txtSalary').val(),
            FirstTechStack: $('#ddlFirstTechStackChosen :selected').val(),
            SecondTechStack: $('#ddlSecondTechStackChosen :selected').val(),
            ThirdTechStack: $('#ddlThirdTechStackChosen :selected').val(),
        }
        console.log(job);
        $.ajax({
            type: "POST",
            url: '/Recruiter/EditJob',
            data: JSON.stringify({ formVM: job }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.Status == 0) {
                    $('#message-body').text(data.Message);
                    $('#modalMessage').modal("show");

                }
                else {
                    $('#message-summary').html(
                        "<ul style='display:block'>" +
                        "<li><label class='error' style='display: inline-block'>" + data.Message + "</label></li></ul>");
                }
            },
            error: function (data, status) {
                alert(data);
            }
        });
        return false;
    }
</script>

