
@{
    Layout = null;
}
@model ITJobSeeker.Model.Models.User
<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>User Profile | Porto Admin - Responsive HTML5 Template 1.5.2</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />

    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>

</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/assets/images/logo.png" height="35" alt="Porto Admin" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="~/assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="~/assets/images/!logged-user.jpg" />
                        </figure>
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                            <span class="name">Recruiter</span>
                            <span class="role"></span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/Recruiter/ProfilePage"><i class="fa fa-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" onclick="logout()"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li>
                                    <a href="index.html">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-parent nav-expanded nav-active">
                                    <a>
                                        <i class="fa fa-columns" aria-hidden="true"></i>
                                        <span>Job Management</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="@Url.Action("JobRecruiterGridView", "Recruiter")">
                                                Jobs GridView
                                            </a>
                                        </li>
                                        <li class="nav-active">
                                            <a href="@Url.Action("CreateJob", "Recruiter")">
                                                Create Job
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <hr class="separator" />

                    </div>

                    <script>
							// Preserve Scroll Position
							if (typeof localStorage !== 'undefined') {
								if (localStorage.getItem('sidebar-left-position') !== null) {
									var initialPosition = localStorage.getItem('sidebar-left-position'),
										sidebarLeft = document.querySelector('#sidebar-left .nano-content');

									sidebarLeft.scrollTop = initialPosition;
								}
							}
                    </script>

                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>User Profile</h2>

                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="index.html">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                        </ol>

                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>

                <!-- start: page -->

                <div class="row">
                    <div class="col-md-8 col-lg-6">

                        <div class="tabs">
                            <ul class="nav nav-tabs tabs-primary">
                                <li class="active">
                                    <a href="#edit" data-toggle="tab">Edit</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="edit" class="tab-pane active">

                                    <form class="form-horizontal" method="get">
                                        <h4 class="mb-xlg">Personal Information</h4>
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="profileFirstName">Company Name</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="txtCompanyName" value="@Model.Company.Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="profileLastName">Address</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="txtAddress" value="@Model.Company.Address">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputSuccess">Location</label>
                                                <div class="col-md-6">
                                                    <select class="form-control mb-md" id="ddlLocation">
                                                        @if (Model.Company.Location == "Hồ Chí Minh")
                                                        {
                                                            <option selected="selected">Hồ Chí Minh</option>
                                                            <option>Đà Nẵng</option>
                                                            <option>Hà Nội</option>
                                                        }
                                                        else if (Model.Company.Location == "Đà Nẵng")
                                                        {
                                                            <option>Hồ Chí Minh</option>
                                                            <option selected="selected">Đà Nẵng</option>
                                                            <option>Hà Nội</option>
                                                        }
                                                        else
                                                        {
                                                            <option>Hồ Chí Minh</option>
                                                            <option>Đà Nẵng</option>
                                                            <option selected="selected">Hà Nội</option>
                                                        }
                                                        
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputSuccess">Type</label>
                                                <div class="col-md-6">
                                                    <select class="form-control mb-md" id="ddlType">
                                                        @if (Model.Company.Type == "Outsourcing")
                                                        {
                                                            <option selected="selected">Outsourcing</option>
                                                            <option>Product</option>
                                                        }
                                                        else
                                                        {
                                                            <option>Outsourcing</option>
                                                            <option selected="selected">Product</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputSuccess">Size</label>
                                                <div class="col-md-6">
                                                    <select class="form-control mb-md" id="ddlSize">
                                                        @if (Model.Company.Size == "Start up 1-10")
                                                        {
                                                        <option selected="selected">Start up 1-10</option>
                                                        <option>Small 11-50</option>
                                                        <option>Medium 51-150</option>
                                                        <option>Huge 150+</option>
                                                        }
                                                        else if (Model.Company.Size == "Small 11-50")
                                                        {
                                                            <option>Start up 1-10</option>
                                                            <option selected="selected">Small 11-50</option>
                                                            <option>Medium 51-150</option>
                                                            <option>Huge 150+</option>
                                                        }
                                                        else if (Model.Company.Size == "Medium 51-150")
                                                        {
                                                            <option>Start up 1-10</option>
                                                            <option>Small 11-50</option>
                                                            <option selected="selected">Medium 51-150</option>
                                                            <option>Huge 150+</option>
                                                        }
                                                        else
                                                        {
                                                            <option>Start up 1-10</option>
                                                            <option>Small 11-50</option>
                                                            <option>Medium 51-150</option>
                                                            <option selected="selected">Huge 150+</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Avatar</label>
                                                <div class="col-md-8">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="input-append">
                                                            <div class="uneditable-input">
                                                                <i class="fa fa-file fileupload-exists"></i>
                                                                <span class="fileupload-preview"></span>
                                                            </div>
                                                            <span class="btn btn-default btn-file">
                                                                <span class="fileupload-exists">Change</span>
                                                                <span class="fileupload-new">Select file</span>
                                                                <input type="file" id="avatar" />
                                                            </span>
                                                            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">First Picture</label>
                                                <div class="col-md-8">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="input-append">
                                                            <div class="uneditable-input">
                                                                <i class="fa fa-file fileupload-exists"></i>
                                                                <span class="fileupload-preview"></span>
                                                            </div>
                                                            <span class="btn btn-default btn-file">
                                                                <span class="fileupload-exists">Change</span>
                                                                <span class="fileupload-new">Select file</span>
                                                                <input type="file" id="firstPicture" />
                                                            </span>
                                                            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Second Picture</label>
                                                <div class="col-md-8">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="input-append">
                                                            <div class="uneditable-input">
                                                                <i class="fa fa-file fileupload-exists"></i>
                                                                <span class="fileupload-preview"></span>
                                                            </div>
                                                            <span class="btn btn-default btn-file">
                                                                <span class="fileupload-exists">Change</span>
                                                                <span class="fileupload-new">Select file</span>
                                                                <input type="file" id="secondPicture" />
                                                            </span>
                                                            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Third Picture</label>
                                                <div class="col-md-8">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="input-append">
                                                            <div class="uneditable-input">
                                                                <i class="fa fa-file fileupload-exists"></i>
                                                                <span class="fileupload-preview"></span>
                                                            </div>
                                                            <span class="btn btn-default btn-file">
                                                                <span class="fileupload-exists">Change</span>
                                                                <span class="fileupload-new">Select file</span>
                                                                <input type="file" id="thirdPicture" />
                                                            </span>
                                                            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <hr class="dotted tall">
                                        <h4 class="mb-xlg">Change Password</h4>
                                        <fieldset class="mb-xl">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="profileNewPassword">New Password</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="profileNewPassword">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="profileNewPasswordRepeat">Repeat New Password</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="profileNewPasswordRepeat">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-9 col-md-offset-3">
                                                    <button type="button" class="btn btn-primary" onclick="updateUserProfile()">Update</button>
                                                    <button type="button" class="btn btn-default">Cancel</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end: page -->
            </section>
        </div>

    </section>

    <!-- Vendor -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery-placeholder.js"></script>
    <script src="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/assets/vendor/autosize/autosize.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/javascripts/theme.init.js"></script>

</body>
</html>
<script>
    function updateUserProfile() {
        var form = new FormData();
        var FirstPicture = $("#firstPicture").get(0).files[0];
        var SecondPicture = $("#secondPicture").get(0).files[0];
        var ThirdPicture = $("#thirdPicture").get(0).files[0];
        var Avatar = $("#avatar").get(0).files[0];
        form.append("FirstPicture", FirstPicture);
        form.append("SecondPicture", SecondPicture);
        form.append("ThirdPicture", ThirdPicture);
        form.append("Avatar", Avatar);
        form.append("CompanyName", $('#txtCompanyName').val());
        form.append("Address", $('#txtAddress').val());
        form.append("Location", $('#ddlLocation :selected').val());
        form.append("Type", $('#ddlType :selected').val());
        form.append("Size", $('#ddlSize :selected').val());
        form.append("ID", '@Model.ID');

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": '@Url.Action("UpdateProfile", "Recruiter")',
            "method": "POST",
            "processData": false,
            "contentType": false,
            "mimeType": "multipart/form-data",
            "data": form
        }

        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    }
</script>
